body {
    font-family: 'Montserrat', Georgia, 'Times New Roman', Times, serif;    
    margin: 0;    
    padding: 0;    
    background-image: linear-gradient(70deg, #fdfbfb 0%, #ebedee 100%);
}/* ----Header---- */
header {    
    display: flex;    
    align-items: center;    
    justify-content: space-between;    
    background: white;    
    width: 70vw;    
    -webkit-box-shadow: 4px 5px 10px -2px rgba(0,0,0,0.15);    
    -moz-box-shadow: 4px 5px 10px -2px rgba(0,0,0,0.15);    
    box-shadow: 4px 5px 10px -2px rgba(0,0,0,0.15);    
    padding: 20px;    
    position: fixed;    
    top: 0px;   
    z-index: 5;
}h1 {    font-family: 'Lobster', cursive;    
    margin: 0 20px 0 60px;
}header nav {    display: flex;    
    flex-direction: row;    
    justify-content: right;    
    position: relative;
}header a {    
    text-decoration: none;    
    text-transform: uppercase;    
    color: black;    
    font-weight: 500;    
    font-size: 14pt;   
    margin: 0 60px 0 20px;
}/* ----Content Section---- */
h2 {    
    margin-top: 200px;    
    text-align: center;
}
article {    
    display: flex;    
    flex-direction: column;    
    justify-content: center;    
    align-items: center;    
    position: relative;    
    -webkit-box-shadow: 7px 7px 14px -2px rgba(0,0,0,0.25);    
    -moz-box-shadow: 7px 7px 14px -2px rgba(0,0,0,0.25);    
    box-shadow: 7px 7px 14px -2px rgba(0,0,0,0.25);    
    margin: 50px;
    padding: 20px 0 50px 0;    
    background: white;
}
#gradient {    background-image: linear-gradient(-225deg, #D4FFEC 0%, #57F2CC 48%, #4596FB 
100%);
}
h3 {    
    text-transform: uppercase;    
    font-size: 16pt;
}
.post-date {    
    font-style: bold;    
    font-size: 10pt;    
    margin: 0px;    
    color: blue;
}
#container{    
    width: 50vw;    
    margin: 10px;    
    line-height: 20px;
}
#floated-left{    
    float: left;    
    width: 200px;    
    margin: 20px;
}
#floated-right{    
    float: right;    
    width: 200px;    
    margin: 20px;
}
/* ----Footer---- */
.blog-title {    
    font-family: 'Lobster', 'Times New Roman', Times, serif;
}
.social-media-icon {   
    height: 15px;    
    width: 15px;
} 
.blog-title, .copyright-text {    
    display: flex;    
    justify-content: center;    
    margin: 5px;    
    align-items: center;
}
.footer-nav {    
    display: flex;    
    flex-direction: column;    
    /* justify-content: space-evenly; */    
    /* align-items: center; */
}
.footer-nav-container {    
    display: flex;    
    flex-direction: row;    
    justify-content: space-evenly;
}
footer strong {    
    font-size: 12pt;    
    margin: 10px;
}
footer a, footer p {    
    margin: 5px;    
    font-size: 10pt;    
    text-decoration: none;    
    color: black;
}
.footer-nav-container {    
    display: flex;    
    flex-direction: row;    
    justify-content: space-evenly;
}footer strong {    
    font-size: 12pt;    
    margin: 10px;
}
footer a, footer p {    
    margin: 5px;    
    font-size: 10pt;    
    text-decoration: none;    
    color: black;}    